span {
    width: 3rem;
    border-radius: 10px;
    border: 2px solid rgb(208, 208, 208);
}

label {
    margin-right: 2rem;
}

.modal-content {
    position: absolute;
    width: 80%;
    right: 0px;
    top: -4rem;
    background-color: rgb(45, 45, 45);
    color: white;
    border: 1px solid rgb(0, 64, 255);
    z-index: 10;
}

.modal-header {
    display: flex;
    flex-direction: column;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.modal-button{
    background-color: rgb(0, 64, 255);
    border: 1px solid white ;
    color: white;
    &:hover {
        background-color: rgb(0, 132, 255); 
    }
}

