<div class="form">
  <app-card
    *ngFor="let card of budgetService.cards()"
    [title]="card.title"
    [subtitle]="card.subtitle"
    [basePrice]="card.price"
    [selected]="card.selected"
    (selectedChange)="budgetService.selection($event)"
    (extraTotalPrice)="budgetService.setExtraPrice($event)"
  >
  </app-card>
  <div>
    <p class="d-flex justify-content-end fs-5">
      Total presupuestado:
      <b class="ps-5">{{ budgetService.totalSelected() + budgetService.finalExtraPrice() }}€</b>
    </p>
  </div>
  
  <app-client-form
    [name]="budgetService.clientName"
    [phone]="budgetService.clientPhone"
    [email]="budgetService.clientEmail"
    [formTouched]="budgetService.formTouched"
    [isNameValid]="budgetService.isNameValid"
    [isPhoneValid]="budgetService.isPhoneValid"
    [isEmailValid]="budgetService.isEmailValid"
  ></app-client-form>

  <div class="getBudget d-flex">
    <p>
      <strong>Total: {{ budgetService.finalTotal() }} €</strong>
    </p>
    <button
      class="btn btn-warning font-weight-bold w-75"
      (click)="budgetService.saveBudget()"
    >
      Solicitar presupuesto
    </button>
  </div>

</div>
