.form {
  margin: 3rem;
}

p {
  width: 85%;
}

.getBudget {
  width: 60%;
  margin: auto;
}

@media (max-width: 768px) {
  .form {
    margin: 1.5rem;
  }

  p {
    width: 100%;
  }
  .getBudget {
    width: 100%;
  }
}
