.card {
    padding-left: 20px;
    border-color: #374c96;
    border:none;
    box-shadow: 1px 1px 1px 1px #374c96;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 10rem;
    box-shadow: 1px 1px 1px 1px #deb326;
    
}

h2 {
    color: #374c96;
    padding-block: 20px;
}