.price {
    font-weight: 600;
}

.card {
    padding: 10px;
    border-color: #374c96;
    border:none;
    box-shadow: 1px 1px 1px 1px #374c96;
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
    p {
        margin-bottom: 0px;
    }
}


@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}