<div class="card d-flex">
  <div class="d-flex align-items-center container">
    <div class="col-6 container-text">
      <h3>{{ title }}</h3>
      <p>{{ subtitle }}</p>
    </div>
    <div class="col-3 justify-content-center d-flex justify-content-center">
      <p class="price">{{ price }}€</p>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <label
        ><input
          type="checkbox"
          [checked]="selected"
          (change)="onCheckboxChange()"
        />
        Agregar</label
      >
    </div>
  </div>
  <div class="panel mt-2" *ngIf="selected && title === 'Web'">
    <app-panel [textPanel]="'Número de páginas'" (totalPanelPrice)="onPanelPrice1($event)"></app-panel>
    <app-panel [textPanel]="'Número de idiomas'" (totalPanelPrice)="onPanelPrice2($event)"></app-panel>
  </div>
</div>
